/* Agrego el primer breakpoint para tablet en 481px (hasta 768px) */

@media (min-width: 481px) {
  .nav__logo {
    font-size: 1.8rem;
    padding: 25px 19px;
  }

  .nav__item {
    font-size: 1.3rem;
  }

  .hero__title--p {
    font-size: 2rem;
  }

  .hero__title {
    font-size: 2.5rem;
    width: 19ch;
  }

  .title--style {
    font-size: 3rem;
  }

  .hero__title--p2 {
    font-size: 1.3rem;
  }

  .hero__cta--text {
    padding-top: 20px;
    margin-bottom: 15px;
  }

  .skills h2 {
    font-size: 2.5rem;
  }

  .projects h2 {
    font-size: 2.5rem;
  }

  .form h2 {
    font-size: 2.5rem;
  }

  .footer__copyright p {
    font-size: 1,8 rem;
  }

}
